<html>
    <body>
 <img src="https://www.colorhexa.com/52417a.png" class="df">
<p style="color: #FFFFFF"> <b>Undertale — ролевая игра, разработанная Тоби Фоксом и проиллюстрированная Темми Чанг на движке GameMaker. Игра была выпущена 15 сентября 2015 года для Microsoft Windows и Mac OS X, 17 июля 2016 года для Linux, 15 августа 2017 года для PlayStation 4 и PlayStation Vita, 18 сентября 2018 года для Nintendo Switch и 16 марта 2021 года для Xbox One и Xbox Series X.</p></b>
<p><b> Сюжет игры рассказывает о том, что когда-то давно Землёй правили две расы: люди и монстры. Но однажды между ними вспыхнула война, победу в которой одержали люди. Семь величайших человеческих магов заперли монстров под землёй с помощью мощного заклятия — барьера. Единственным входом в Подземелье является небольшое отверстие в горе Эботт.</p></b>
<img src="https://i.redd.it/a-long-time-ago-v0-cj0x75h843ic1.png?width=6400&format=png&auto=webp&s=1dea2ddd5a88dc156992f496f97b430b93f38add" class="d">
<p><b>Через много лет после окончания войны в это отверстие падает человеческое дитя, которым и управляет игрок. Там он встречает Флауи, персонажа-цветка, который объясняет герою основные игровые механики и предлагает повышать УР, или же «уровень радости», зарабатывая ОП, убивая монстров. Когда Флауи пытается убить дитя и забрать его ДУШУ, героя спасает Ториэль, монстр, представляющийся хранительницей Руин.</p></b>
<p><img src="https://upload.wikimedia.org/wikipedia/ru/f/f8/%D0%A1%D0%BF%D1%80%D0%B0%D0%B9%D1%82_%D0%A2%D0%BE%D1%80%D0%B8%D1%8D%D0%BB%D1%8C_%D0%B8%D0%B7_%D0%B8%D0%B3%D1%80%D1%8B_Undertale.png" class="f" style="margin-left: -511px;"> </p>
<p><b>Она обучает протагониста справляться с головоломками и разрешать конфликты с врагами мирным путём. Она обращается с протагонистом с материнской любовью и желает защитить его от Азгора Дримурра — короля монстров. Главная задача протагониста — исследовать мир монстров, познакомиться с его обитателями и в конце концов найти выход из Подземелья.</p></b>
<p><b>Протагонист покидает Ториэль в поисках замка Азгора, в котором находится выход на Поверхность. По ходу своего приключения дитя встречает разных монстров, самые значимые из которых — Санс и Папирус — братья-часовые леса Сноудина.</p></b>
<img src="https://flomaster.top/uploads/posts/2022-06/1655397046_20-flomaster-club-p-papirus-po-kletochkam-krasivie-risunki-22.png" width="320px" height="320px">
<p><b> Андайн — глава Королевской стражи, Альфис — королевская учёная и Меттатон — робот-телеведущий, созданный Альфис.
С некоторыми из вышеописанных персонажей протагонисту приходится вступить в бой. Игрок может выбрать, убить их или проявить милосердие. В последнем случае герой может подружиться с ними. По мере прохождения, протагонист постепенно узнаёт о причинах вспыхнувшей войны между монстрами и людьми и что, как оказалось, до него в Подземелье уже падали другие люди. Азриэль, сын Азгора и Ториэль, подружился с первым упавшим человеком, которого приняли в семью Дримурров. Однако ребёнок покончил жизнь самоубийством, съев ядовитые цветы, чтобы Азриэль поглотил его ДУШУ и смог пройти через барьер. Когда Азриэль достиг деревни человека, жители в ярости напали на него и смертельно ранили. Король Азгор решил покончить со страданиями монстров — он отдал приказ убивать и забирать ДУШИ каждого человека, падающего в Подземелье, чтобы уничтожить барьер и отомстить людям. Для этого ему нужно собрать семь человеческих ДУШ, и для завершения плана ему не хватает одной ДУШИ — ДУШИ протагониста. Дальнейшее развитие событий зависит от того, какие решения принимал игрок при столкновении с монстрами.</p></b>
<img src="https://www.colorhexa.com/52417a.png" class="df">

    
    </body>    
</html>

body {
    background-color:#000000;
    text-align: center;
    font-size: 20px;
}

b {
    color: #FFFFFF;
}

.df { 
    width: 714px;
    height: 60px;
    border-radius: 25px;
}

.d {
    width: 450px;
    height: 250px;
    border-radius: 50px;
}

.f {
    width: 270px;
    height: 320px;
    border-radius: 50px;
}
